/* =============
    Section 2
============= */

#section-2 {
    display: grid;
    background-color: $gray;

    @include md {
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas: "article img";
    }

    @include lg {
        grid-template-columns: 40% auto;
        grid-template-areas: "img article";
        grid-auto-columns: auto 1200px auto;
        grid-area: article img;
    }

    article {
        display: grid;
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;

        @include md {
            grid-area: article;
            margin-left: 45px;
            margin-right: 45px;
        }

        @include lg {
            margin-left: 130px;
            margin-right: 130px;
        }
    }

    #image {
        display: grid;
        background-image: url("../img/shoes.jpg");
        background-repeat: no-repeat;
        height: 320px;
        width: 100%;

        @include sm {
            background-image: cover;
        }
        
        @include md {
            height: 246px;
            grid-area: img;
        }

        @include lg {
            height: 600px;
        }
    }
}