/* =============
    Section 2
============= */

#section-2 {
    
    display: grid;
    background-color: $gray;

    @include md {
        display: grid;
        grid-template-columns: 66% auto;
        grid-template-areas: "article img";
    }

    @include lg {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "img article";
    }

    @include xl {
        display: grid;
        margin-left: 120px;
    }

    article {
        display: grid;
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;

        @include md {
            grid-area: article;
            margin-left: 45px;
            margin-right: 45px;
        }

        @include lg {
            margin-left: 130px;
            margin-right: 130px;
        }

        h5 {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 8px;

            @include md {
                text-align: left;
            }

            @include lg {
                margin-top: 130px;
                margin-bottom: 8px;
            }
        }
    }

    #image {
        display: grid;
        background-image: url("../img/shoes.jpg");
        background-repeat: no-repeat;
        height: 320px;
        
        @include md {
            height: 246px;
            grid-area: img;
        }

        @include lg {
            height: 600px;
        }
    }
}